footer{
    background-color: var(--color-dark-background-primary);
}

footer h2,
footer h3,
footer p{
    color: var(--color-dark-text-main);
}

footer .footer-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 2rem;
}

footer .separator{
    width: 100%;
    margin-bottom: 2rem;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 250px;
}

footer .footer-content > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 5rem;
    min-width: 200px;
}

.footer-content ul{
    margin-top: .5rem;
}

.footer-content p{
    margin-top: .5rem;
}

footer .socials ul{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.socials h2{
    width: 100%;
}

footer i {
    transition: .3s;
}

footer i:hover{
    color: var(--color-primary);
}

footer a{
    color: var(--color-dark-text-main);
    transition: .3s;
}

footer a:hover{
    color: var(--color-primary);
}

footer .footer-content .company-info ul{
    display:flex;
    flex-direction: column;
    gap: .5rem;
}

footer .footer-content .support ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


footer .footer-bottom p{
    text-align: center;
}