.card-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #fff, #94a8bd);
}

.loginCard{
    width: 450px;
    height: 650px;
    border-radius: 2rem;
    background-color: rgba(148, 168, 189, 0.7);
    border:1px solid rgba(255,255,255,0.2)
}

.brand{
    color: var(--color-dark-text-primary);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-block: 2rem;
}

.formLogin form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-group{
    width: 100%;
}

.formLogin{
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
}

.formLogin .input-group input{
    padding: .75rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color:#fff;
    color: var(--color-dark-text-primary);
}

.formLogin .input-group input:focus{
    border: 1px solid rgba(255,255,255,0.2);
}

.formLogin button{
    width: 100%;
    padding: .5rem !important;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: var(--color-dark-text-primary);
    color: var(--color-dark-text-secondary);
    font-weight: 700;
}

.blue{
    color: #4282e2
}

.red{
    color: #db4437
}

.formLogin p{
    text-align: center;
    margin-top: 1rem;
}

.formLogin p a{
    color: var(--color-primary);
    font-weight: 700;
}
