/* OPEN SIDEBAR */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #0d171c;
    display: flex;
    flex-direction: column;
    padding:1rem;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:.75rem;
    gap:.75rem;
    margin-bottom:1rem;
}

.sidebar-header h2,i{
    color:var(--color-dark-text-main)
}

.sidebar-menu{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.active-user > p{
    color:#aaa;
    font-weight:600;
    padding-inline:.75rem;
    padding-block:.5rem;
    letter-spacing: .05rem;
}

.sidebar-menu-items{
    display:flex;
    flex-direction: column;
    gap:.25rem;
}

.sidebar-menu-items a{
    display:flex;
    align-items: center;
    gap:.75rem;
    padding-inline:.75rem;
    padding-block: .5rem;
    transition: .3s;
    cursor: pointer;
}

.sidebar-menu-items a:hover{
    background-color: #1e293b;
    border-radius: .5rem;
}

.sidebar-menu-items a:active{
    background-color: #0e3345;
    color:#13a4ec;
    border-radius: .5rem;
}

.sidebar-menu-items p{
    color:#aaa;
    font-weight:600;
    padding-inline:.75rem;
    padding-block:.5rem;
    letter-spacing: .05rem;
}

.exit-area{
    display: flex;
    margin-top:auto;
    flex-direction: column;
    gap:.5rem;
    cursor: pointer;
}

.exit-area a:hover{
    background-color: #1e293b;
    border-radius: .5rem;
}

.exit-area a{
    display: flex;
    align-items: center;
    gap:.75rem;
    padding-inline:.75rem;
    padding-block: .5rem;
    transition: .3s;
}

.sidebar.open{
    width: 17rem;
}

/*CLOSED SIDEBAR */

.sidebar-header.close{
    justify-content: center;
    margin-bottom:1rem;
}

.active-user.close{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.active-user.close div{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:.75rem;
}

.sidebar-menu-items.close{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.linkHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.25rem;
}

.sidebar-menu-items.close img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.exit-area.close{
    display: flex;
    align-items: center;
    margin-top:auto;
}

.sidebar.close{
    width: 6rem;
}
