@import url("global.css");

.card{
    display:flex;
    flex-direction:column;
    padding: 1rem;
    border-radius:10px;
    border:1px solid #000;
    width:230px;
    height:200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}

img{
    width: 230px;
    height: 150px;
    object-fit: cover;
    overflow:hidden;
}

.card-price{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary)
}