@import url("./styles/global.css");
@import url("./styles/header.css");
@import url("./styles/form.css");
@import url("./styles/utils.css");
@import url("./styles/card.css");
@import url("./styles/hero.css");
@import url("./styles/section.css");
@import url("./styles/grid-card.css");
@import url("./styles/footer.css");
@import url("./styles/userCard.css");
@import url("./styles/DropDownMenu.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
